*, 
::after, 
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #ffedd4; 
    --primary: #000001; 
    --accent: #9d6a47; 
}


html {
    scroll-behavior: smooth;
}
body {
    z-index: 2;
}

.background {
    background: url(/assets/Xaris\ Background.png);
    background-color: var(--background);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .6;
    z-index: -1;
}

h2 {
    font-size: 4em;
    font: lucida handwriting;
    text-align: center;
    color: var(--accent);
    text-shadow: 2px 5px var(--background);

}

h3 {
    font-size: 2.5em;
    font: lucida handwriting;
    text-align: center;
    color: var(--accent);
    text-shadow: 2px 5px var(--background);
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--background);
    border-bottom: solid 1px var(--accent);
}

.nav-logo a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav > .links {
    color: var(--primary);
    text-decoration: none;
    
}
.nav-logo-img {
    width: 75px;
    vertical-align: middle;
    margin-right: 10px;

}
main, .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    gap: 2em;
    flex-wrap: wrap;
}

.cols {
    display: flex;
    flex-direction: row;
}

.main-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: 90vh;
    gap: 2em;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.main-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.core-values {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;

}

.core-values > h2 {
    margin: 1em;
}

.gallery-texts {
    text-align: center;
}
.values {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.values > p {
    align-items: center;
    height: 300px;
    width: 80%;
    max-width: 500px;
    background-color: var(--accent);
    
    padding: 10px;
    border-radius: 10px;
    color: var(--background);
    font-size: 1.5em;
    margin-bottom: 10px;

    opacity: .7;
}

p {

}
@media (max-width: 500px) {
    .values > p {
        font-size: 1.5em;
    }
}

.main-text > div {
    width: 300px;
}

.mission > h2, .vision > h2 {
    font-size: 3em;
}

.mission > p, .vision > p {
    font-size: 1.5em;
}
.family-picture, .mira-picture {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.family-picture-img {
    width: 50%;
    border-radius: 100%;
    border: 8px solid var(--accent);
}



.mira-picture-img {
    width: 80%;
    border-radius: 10px;
}

.content {
    margin: auto;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1500px;
    max-width: 90%;
    /* border: red solid 1px; */
}
.img_gallery {
    margin: auto;
    display: flex ;
    gap: 1.5em;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
}
.img_gallery > .gallery_images {
    width: 500px;
    max-width: 30%;
    /* max-height: 500px; */
    border-radius: 5px;
    /* border: 5px solid var(--accent); */
    box-shadow: 5px 5px 10px #9d6a47;
    cursor: pointer;
    margin: auto;
}
.img_gallery > p {
    max-width: 500px;
    max-height: 500px;
    font-size: 2em;
    font-style: italic;
    text-shadow: 5px 5px 10px var(--accent);
}


.video-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2em;
    
}

.videos {
    width: 500px;
    margin:1em;
}


@media (max-width: 600px) {
    .img_gallery > .gallery_images {
        width: 250px;
        max-width: 90%;
    }
}


.kids {
    width: 500px;
    max-width: 80%;
}

button {
    padding: 10px;
    background-color: var(--background);
    border-radius: 5px;
    border: solid 1px var(--accent);
    font-size: 1.5em;
    opacity: .8;
}

button:hover {
    background-color: var(--accent);
    
    opacity: 1;
    transform: scale(1.1);
}

button > a {
    color: var(--primary);
    text-decoration: none;
}

button > a:hover {
    color: var(--background);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}



  
.click {
    cursor: pointer;
    text-transform: uppercase;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid white;
}

.click:hover {
    transform: scale(1.05);
    transition: .5s all ease-in-out;
}


.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}


.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2em;
    color: white;
    background-color: var(--background);
    border-radius: 100%;
    cursor: pointer;
    padding: .2em;
}
.close-button:hover {
    background-color: var(--accent);
    color: var(--background);
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin: 1em auto;
    font-size: 1.1em;
}

.back-btn {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: var(--background);
    border-radius: 5px;
    border: solid 1px var(--accent);
    font-size: 1.5em;
    opacity: .8;
    padding: 10px;
}


.collapsible {
    cursor: pointer;
    /* background-color: var(--background); */
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    opacity: 0.9;
    font-size: .8em;


}

.collapsible.active {
    color: var(--primary);
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    background-color: var(--background);
    border-bottom: 1px solid var(--accent);
    font-size: .5em;
}
.collapsible.active h2  {
    color: black
}

.content {
    display: none;
    padding: 0 15px;
    overflow: hidden
}


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px var(--accent);
    border-radius: 10px;
    height: 350px;
    width: 250px;
    padding: 1em;
    box-shadow: 5px 5px 10px #9d6a47;
}

.box:hover {
    transform: scale(1.05);
    transition: .5s all ease-in-out;
}
.grade-page-gallery {
    height: 80%;
    margin: auto;

}
.grade-page-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crops the image to fill the container */
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #9d6a47;
    cursor: pointer;
    margin: auto;
}