*, 
::after, 
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #ffedd4; 
    --primary: #000001; 
    --accent: #9d6a47; 
}


html {
    scroll-behavior: smooth;
}
body {
    background: url(/assets/Xaris\ Background.png);
    background-color: var(--background);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--background);
    border-bottom: solid 1px var(--accent);
}

.nav > .links {
    color: var(--primary);
    text-decoration: none;
    
}


main, .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    gap: 2em;
}

.cols {
    display: flex;
    flex-direction: row;
}

.main-text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    height: 90vh;
    gap: 2em;
    flex-wrap: wrap;
}

.main-text > div {
    width: 300px;
}

.mission > h2, .vision > h2 {
    font-size: 3em;
}

.mission > p, .vision > p {
    font-size: 1.5em;
}
.family-picture, .mira-picture, .kesed-picture {
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


img {
    width: 50%;
    border-radius: 100%;
    border: 8px solid var(--accent);
}



.mira-picture-img, .kesed-picture-img {
    width: 80%;
    border-radius: 10px;
}

section {
    height: 50vh;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;

}
.kids {
    width: 500px;
    max-width: 80%;
}

button {
    padding: 10px;
    background-color: var(--background);
    border-radius: 5px;
    border: solid 1px var(--accent);
    font-size: 1.5em;
    opacity: .8;
}

button:hover {
    background-color: var(--accent);
    
    opacity: 1;
    transform: scale(1.1);
}

button > a {
    color: var(--primary);
    text-decoration: none;
}

button > a:hover {
    color: var(--background);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }