*, 
::after, 
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --background: #ffedd4; 
    --primary: #000001; 
    --accent: #9d6a47; 
}

body {
    background: url(/assets/Xaris\ Background.png);
    background-color: var(--background);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    background-color: var(--background);
}

.nav > .links {
    color: var(--primary);
    text-decoration: none;
    
}


main, .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    border: 2px solid var(--accent);
}

.family-picture {
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

img {
    width: 50%;
    border-radius: 100%;
    border: 8px solid var(--accent);
}
section, .kids {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid var(--accent);
    
}

button {
    padding: 10px;
    background-color: var(--background);
    border-radius: 5px;
    border: solid 1px var(--accent);
    font-size: 1.5em;
    opacity: .8;
}

button:hover {
    opacity: 1;
    transform: scale(1.1);
}

button > a {
    color: var(--primary);
    text-decoration: none;
}